# gateway (API REST)
APP_PORT=3000
NODE_ENV=development

# Redis (cliente hacia microservicios)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT (mismo secreto que auth-service para validar tokens)
JWT_SECRET=change_me_in_production_32chars_min
